.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    &__form {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__reset {
        width: 10rem;
        background-color: #00155b;
        color: #d3a625;
        cursor: pointer;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 600;
        margin: 10px;
        padding: 3px;
        border: none;
        border-radius: 20px;
    }
}

.input {

    &__text {
        font-family: $font-family;
        font-size: 1rem;
        color: #d3a625;
    }

    &__search {
        margin-left: 0.5rem;
        margin-bottom: 1rem;
        padding: 0.2rem;
        color: white;
        width: 8rem;
        border: 2px solid #00155b;
        border-radius: 0.2rem;
        background-color: #00155b;
        font-size: 0.8rem;
        transition: all ease 0.3s;
    }
}

.search {
    &__house {
        font-family: $font-family;
        font-size: 1rem;
        color: #d3a625; 
    }

    &__option {
        margin-left: 0.5rem;
        margin-bottom: 1rem;
        padding: 0.2rem;
        width: 8rem;
        color: #aaaaaa;
        border: 2px solid #00155b;
        border-radius: 0.2rem;
        background-color: #00155b;
        font-size: 0.7rem;
        transition: all ease 0.3s;
        cursor: pointer;
    }
}

@media all and (min-width: 768px) {
   .filter {
    &__reset {
        width: 13rem;
        height: 2.5rem;
        font-size: 1.2rem;
        }
   }

    .input {
        &__text {
            font-size: 1.5rem;     
        }

         &__search {
            width: 16rem;
            font-size: 1rem; 
        }
    }

    .search {
        &__house {
            font-size: 1.5rem;
        }
    
        &__option {
            width: 16rem;
            font-size: 1rem;
           
        }
     }
}
